*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
    width:50%;
    height: 2px;
    margin:0 auto;
    background-color:#5C6D70;
}

#hobbies-body{
    width: 100%;
    height: 100vh;
    background: repeating-linear-gradient(
        to right,
        #EEE5E9 0%,
        #EEE5E9 20%,
        #545922 20%,
        #545922 80%,
        #eee5e9 80%,
        #EEE5E9 100%
    );
}

#about-body{
    width: 100%;
    height: 100vh;
    background: repeating-linear-gradient(
        to right,
        #545922 0%,
        #545922 35%,
        #eee5e9 35%,
        #EEE5E9 100%
    );
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #662E00;
}

.navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.index-nav {
    overflow: hidden;
    background-color: #545922;
    border-bottom: solid;
    border-width: 30px;
    border-color: #545922;
}

.index-nav a {
    color: #E5D1D0;
    text-decoration: none; 
}

.dark-nav a {
    color: #5C6D70;
    text-decoration: none; 

}

.index-nav a:hover {
    color:#5C6D70;
}

.dark-nav a:hover {
    color: #d7adab;
}

a:active {
    text-decoration: line-through;
}

#index-title {
    color:#d7adab;
    font-size: xxx-large;
    text-align: center;
    background-color: #545922;
    border-bottom: solid;
    border-width: 30px;
    border-color: #545922;
}

#hobbies-title {
    color:#d7adab;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 45px;
}

#about-title {
    text-align: center;
    padding-top: 50px;
}

.index-card {
    display: block;
    background-color: #E5D1D0;
    margin: 10px;
    outline: 1px solid #545922;
    height:auto;
    width: 40%;
    overflow:auto;
    margin-left: auto;
    margin-right: auto;
}

.hobbies-card {
    display: block;
    margin: 10px;
    outline: 2px solid #d7adab;
    height:auto;
    width: 45%;
    overflow:auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.column-left {
    float: left;
    padding: 12px 15px 15px 15px;
}

#about-column-left {
    float: left;
    margin: top 100px;
}


#about-column-right {
    width: 60%;
    float: right;
}



.hobbies-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.light-card-title {
    color: #E5D1D0;
}

.card-title {
    color: #5C6D70;
    font-weight: 600;
    font-size:larger;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
}

.card-subtitle {
    color: #5C6D70;
    font-style: italic;
    font-size: medium;
    padding-bottom: 10px;
}

.index-card-text {
    color: rgb(54, 54, 54);
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: medium;
}

.hobbies-card-text {
    color:#E5D1D0;
    padding: 35px 35px 35px;
    font-size: larger;
}

.about-card-text{
    color: rgb(54, 54, 54);
    margin-right: 30px;
    padding-bottom: 20px;
    font-size: medium;
}


.card-image {
    max-height: 275px;
}

.about-image {
    max-height:450px;
    margin-top: 75px;
    padding: 10px 10px 10px 60px;
}